<h3>Đăng nhập</h3>
<% if(notices.length > 0){ %>
    <% _.each(notices, function(notice){ %>
    <p>
        <%= notice.message %>
    </p>
    <% }) %>
<% } %>
<form action="<%= sails.getUrlFor('AccountController.login'); %>" method="POST">
    <table>
        <tr>
            <td>
                <label for="email">Email</label>
            </td>
            <td>
                <input type="email" name="email" id="email">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input type="password" name="password" id="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<a href="<%= sails.getUrlFor('HomeController.home'); %>">Back to home</a>