<form action="<%= sails.getUrlFor('AccountController.register'); %>" method="POST">
  <table>
            <% if(notices.length > 0){ %>
                  <% _.each(notices, function(notice){ %>
                        <p><%= notice.message %></p>
                  <% }) %>
            <% } %>
    <tr>
      <td>
            <label for="name">User name</label>
      </td>
      <td>
            <input type="text" name="name" id="name" required value="t123">

      </td>
    </tr>
    <tr>
      <td>
            <label for="email">Email</label>

      </td>
      <td>
            <input type="email" name="email" id="email" required value="t123@gmail.com">

      </td>
    </tr>
    <tr>
      <td>
            <label for="password">Password</label>

      </td>
      <td>
            <input type="password" name="password" id="password" required value="123123">

      </td>
    </tr>
    <tr>
      <td>
            <label for="rePassword">re-password</label>

      </td>
      <td>
            <input type="password" name="rePassword" id="rePassword" required value="123123">

      </td>
    </tr>
    <tr>
      <td>
            <label for="code">Code register</label>

      </td>
      <td>
            <input type="text" name="code" id="code" required value="123123">

      </td>
    </tr>
  </table>
  <input type="submit" value="Register">
</form>
<a href="<%= sails.getUrlFor('HomeController.home'); %>">Back to home</a>