<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <a href="<%= sails.getUrlFor('admin/PostController.add'); %>" class="btn btn-primary">Add new post</a>
  </div>
  <br>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name post</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(listPost, function(post){ %>
        <tr>
          <td>fadsf</td>
        </tr>
        <% }) %>
        <tr>
          <td>fadsf</td>
        </tr>
        <tr>
          <td>fasdfasd</td>
        </tr>
        <tr>
          <td>fasdfasd</td>
        </tr>
        <tr>
          <td>fasdfasdfasd</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>